TMDB_API_KEY=
PUBLIC_URL=http://localhost:7000
PORT=7000
NODE_VERSION=20
TMDB_LANGUAGE=cs-CZ
AUTO_REFRESH=true
AUTO_REFRESH_MINUTES=360
CACHE_TTL_HOURS=12
REFRESH_NEW_ONLY=true
CSFD_SEARCH_FALLBACK=true
MAX_ITEMS=1000
MAX_SERIES=200
ENRICH_LIMIT=80
MOVIES_SOURCE_URL=https://www.filmovenovinky.sk/nove-filmy/nove-filmy-s-dabingom-cz-sk-zistite-co-pribudlo-dnes
SERIES_SOURCE_URL=https://www.filmovenovinky.sk/
